<script setup lang="ts">
import { useBookStore } from '@/stores/BookStore'

const bookStore = useBookStore()
bookStore.fill()
</script>

<template>
  <v-table>
    <thead>
      <tr>
        <th class="text-left">Cover</th>
        <th class="text-left">Name</th>
        <th class="text-left">Author</th>
        <th class="text-left">Genre</th>
        <th class="text-left">Year</th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="bookStore.books.length === 0">
        <td colspan="5">No books</td>
      </tr>
      <tr v-else v-for="item in bookStore.books" :key="item.name">
        <td><v-img :src="`https://covers.openlibrary.org/b/OLID/${item.olid}-M.jpg`"></v-img></td>
        <td>{{ item.name }}</td>
        <td>{{ item.author }}</td>
        <td>{{ item.genre }}</td>
        <td>{{ item.year }}</td>
      </tr>
    </tbody>
  </v-table>
</template>
