<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import { ref } from 'vue'
import { useBookStore } from '@/stores/BookStore'

const cards = ['Today', 'Yesterday']
const links = [['mdi-book', 'Book', 'books']]

const drawer = ref(null)
useBookStore()
</script>

<script lang="ts">
export default {
  data: () => ({
    cards: ['Today', 'Yesterday'],
    drawer: null,
    links: [['mdi-book', 'Book']]
  })
}
</script>

<template>
  <v-app>
    <v-navigation-drawer v-model="drawer">
      <v-sheet color="grey-lighten-4" class="pa-4">
        <v-avatar class="mb-4" size="64">
          <v-img src="images/avatars/avatar_1.png"></v-img>
        </v-avatar>

        <div>Unregistered User</div>
      </v-sheet>

      <v-divider></v-divider>

      <v-list>
        <v-list-item
          v-for="[icon, text, url] in links"
          :key="icon"
          :prepend-icon="icon"
          :title="text"
          :to="url"
          link
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <RouterView />
    </v-main>
  </v-app>
</template>
